@media (min-width: 320px) {
  #rings {
    width: 100%;
    height: 22rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    box-shadow: 0 -2px 5px 0 var(--txt-primary);

    background-color: var(--secondary);
  }

  .rings__box-title {
    width: 32%;
    height: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    position: relative;
    top: -50px;

    padding: 1rem;

    font-family: var(--serif);

    background-color: var(--tertiary);

    transform-origin: left;
    opacity: 0;

    animation-name: stretch;
    animation-duration: 0.8s;
    animation-timing-function: ease-in;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  .rings__title {
    width: 90%;

    line-height: 1.2rem;
    font-size: 10pt;
    
    color: var(--txt-secondary);
  }
  
  .rings__box-img {
    width: 30%;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    position: relative;
    top: -45px;

    overflow: hidden;

    opacity: 0;

    animation-name: fade-in;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  .rings__img {
    width: 200%;
  }
  
  .rings__box-paragraph {
    width: 48%;
    
    padding: 1rem;
    
    opacity: 0;

    animation-name: right-to-left;
    animation-duration: 0.8s;
    animation-timing-function: ease-in;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
  
  .rings__paragraph {
    line-height: 0.9rem;
    font-family: var(--sans-serif);
    font-style: italic;
    font-size: 8pt;

    color: var(--txt-secondary);
  }
}