@media (min-width: 767px) {
  #rings {
    height: 25rem;
  }

  .rings__box-title {
    width: 40%;
    height: 50%;

    top: -30px;
  }

  .rings__title {
    width: 60%;

    line-height: 2.7rem;
    font-size: 27pt;
  }
  
  .rings__box-img {
    width: 25%;
    
    top: -90px;
  }

  
  .rings__box-paragraph {
    width: 30%;
  }
  
  .rings__paragraph {
    line-height: 1.2rem;

    font-size: 12pt;
  }
}