:root {
  --handwrite: "Babylonica";
  --serif: "Playfair";
  --sans-serif: "Roboto";

  --primary: #f7edeb;
  --secondary: #CA6C6F;
  --tertiary: #af1b48;
  --quaternary: #e2949d;
  --quinternary: #C3CBD7;

  --txt-primary: #29373A;
  --txt-secondary: #fff;
  --txt-tertiary: #4d6d75;

}