@media (min-width: 767px) {
  #footer {
    width: 100vw;
    height: 8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 200;
    
    box-shadow: 0 -2px 5px 0 var(--txt-primary);

    background-color: var(--tertiary);
  }

  .box-up {
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: -45px;
    right: -330px;

    border-radius: 50%;

    box-shadow: 1px 1px 3px 0 var(--txt-primary);

    background-color: var(--quaternary);

    transition: 0.5s;
  }

  .box-up:hover {
    transform: scale(1.2) rotate(360deg);
  }

  .arrow-up {
    width: 50px;
    height: 50px;

  }

  .box-social {
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    position: relative;
    top: -25%;
  }
  
  .social-icon {
    width: 35px;
    height: 35px;
    
    cursor: pointer;

    transition: 1.5s;
  }

  .social-icon:hover {
    transform: scale(1.2) rotate(15deg);
  }
}