@media (min-width: 320px) {
  #brief {
    width: 100vw;

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .brief__aside {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 1rem;

    box-shadow: 2px 0 5px 0 var(--txt-primary);

    text-align: center;

    background-color: var(--quaternary);
  }

  .brief__title {
    font-size: 18pt;
    font-family: var(--serif);

    color: var(--txt-primary);

  }

  .briref__paragraph {
    font-size: 8pt;
    font-family: var(--serif);

    color: var(--txt-primary);
  }
}