@media (min-width: 1024px) {
  #apresentation {
    height: 25rem;
  }

  .apresentation__title {
    font-family: var(--serif);
    font-size: 25pt;
    font-weight: normal;

    color: var(--txt-tertiary);
  }

  .crown {
    top: -115px;
  }

  .crown__part1 {
    width: 40%;
  }
  
  .crown__part2 {
    width: 40%;
  }
}