@media (min-width: 767px) {
  #apresentation {
    height: 22rem;
  }

  .apresentation__box-name {
    top: -3.1rem;
  }
  
  .john {
    font-size: 50pt;
  }
  
  .and {
    top: -2.1rem;

    font-size: 30pt;
  }
  
  .sara {
    font-size: 50pt;
  }

  .apresentation__title {
    font-size: 25pt;
  }

  .crown {
    top: -70px;
  }
}